.vertical-normal {
  border-radius: 16px;
  max-width: 344px;
  width: 100%;
  height: 389px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.vertical-normal:hover {
  transform: scale(1.02);
}

.horizontal-normal {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 496px;
  height: 137px;
  box-shadow: none !important;
}

.card-image-container-vertical-normal {
  width: 100%;
  height: 238px;
  position: relative;
}

.card-image-container-horizontal-normal {
  width: 200px;
  height: 137px;
  position: relative;
}

.card-image-container-vertical-small {
  width: 192px;
  height: 144px;
  position: relative;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.css-1dybbl5-MuiChip-label {
  padding-left: 0px !important;
  padding-right: 7px !important;
  font-family: 'Montserrat';
}

@media (max-width: 640px) {
  .vertical-normal,
  .horizontal-normal {
    width: 100%;
  }
  .card {
    height: 389px;
    width: 343px;
  }
}

@media (max-width: 320px) {
  .vertical-normal,
  .horizontal-normal {
    width: 100%;
  }
  .card {
    height: 220px;
    width: 192px;
  }
  .card-image-container-vertical-normal {
    width: 192px;
    height: 144px;
    position: relative;
  }
}
