.container-card-main {
  padding: 4px;
}

.MuiTabs-indicator {
  display: none;
}

.MuiTab-textColorPrimary {
  color: #354e18 !important;
}

@media (max-width: 640px) {
  .container-card-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 12px 0px;
  }
}
